.contentcontainer {
  margin-top: 5px;
}

.contentbag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 3rem;
}

.arraycontainer {
  background: whitesmoke;
  width: 19rem;
  height: 23.4rem;
  margin: 10px;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cardflex {
  display: flex;
  justify-content: space-between;
  padding: 0 28px 0 10px;
}

.avatarcontainer {
  display: flex;
  justify-content: center;
}

.cardavatar {
  width: 100%;
  height: 13rem;
  margin-bottom: 9px;
}

.flag {
  width: 50px;
  height: 20px;
  margin-top: 3px;
}

.carddescription {
  font-weight: 500;
  color: rgb(88, 86, 86);
  font-style: oblique;
}

.cardbiodata {
  font-weight: bolder;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-button {
  margin-top: 5px;
  width: 100%;
  padding: 1rem;
  border: red;
  background: red;
  color: white;
  font-weight: 600;
  border-radius: 5px 5px 5px 5px;
  transition: 1s ease;
}

.cardwords {
  padding: 2px 0 2px 0;
}

/* hover */

.arraycontainer:hover {
  background: rgb(201, 238, 247);
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.card-button:hover {
  background: rgb(139, 15, 139);
  transition: 1s ease-out;
}