.navcontainer {
  background: black;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.navflex {
  display: flex;
  justify-content: space-between;
}

.listflex {
  display: flex;
}

.listflex a {
  text-decoration: none;
  color: white;
}

.navitem2 a {
  text-decoration: none;
  color: white;
}

.homeitem {
  margin-right: 20px;
}

ul {
  list-style-type: none;
}